html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.centre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.annonces{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
}

.annonce{
    border: black;
    border-radius: 10px;
    margin: 4%;
    padding: 4%;
    box-shadow: 2px 3px 3px 3px lightgray;
}

.illu{
    text-align: center;
}

h1{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.img{
    height: 100px;
}

.titreprix{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.author{
    text-align: right;
}

.titre{
    font-size: 1.2em;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.prix{
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p{
    font-weight: bold;
}

.nonactive{
    opacity: 0.6;
}