html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

h2{
    font-size: 1.2em;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.retour{
    height: 25px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.2rem;
    font-weight: 600;
}

.required-indicator{
    text-align: right;
    margin-left: .8rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #8191a0;
}

input, .role{
    width: 100%;
    height: 100%;
    border-color: #a8b4c0;
    border-radius: 4px;
    padding: 0 1rem;
    font-size: 1.4rem;
    min-width: 0;
}

.fieldcontain, .fieldcontain_required, .pub{
    margin-bottom: 1%;
}

.commentaire, .bas{
    font-size: 0.85rem;
}

.checkbox{
    height: 10px;
    width: 10px
}

.save{
    width: content-box;
}

.role{
    margin-bottom: 3%;
}